bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
silentdragon
silentdragon.app
silentdragon-lite-mingw*
silentdragon-lite.vcxproj*
silentdragon.vcxproj*
silentdragon-lite.sln
silentdragon-lite.pro.user
/Makefile
/Makefile.*
qrc_application.cpp
hush-qt-wallet_plugin_import.cpp
silentdragon_plugin_import.cpp
hush-qt-wallet_resource*
silentdragon_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
hushd
IDEWorkspaceChecks.plist
*.sln
node_modules
hush-qt-wallet.pro.user.4.10-pre1
