Package: silentdragonlite
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: DenioD <admin@hush-lightwallet.de>
Description: Silentdragonlite is a Lightwallet for hush. It comes with 
 full support for transparent and shielded addresses.
